.calculon {
  text-align: center;
}

.calculonGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0;
  row-gap: 10px;
  justify-items: center;
}

.calcCell {
  display: flex;
  flex-direction: row;

}