.calculon {
  
  display: flex;
  flex-direction: column;
  
  

  
}

.topSpacer {
  
  padding: 25%;
  
}

.valuePortraitFlex {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center; /*maybe flex-end?*/
  font-size: 90px;
  font-weight: 250;
  padding-left: 45%;
}

.valueLandscapeFlex {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  font-size: 60px;
  font-weight: 250;
  padding-left: 80%;
}

.calcButtons {
  display: flex;
  flex-direction: column;

}

.buttonsRow {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.calculonFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.calcCell {
  display: flex;
  flex-direction: row;
  
}

.landscapeButtons {
  display: flex;
  flex-direction: column;
}

.landscapeRow {
  display: flex;
  flex-direction: row;
}